<div class="row">
  <div class="col-md-8">
    <div class="pane">
      <%= render 'user_activities', activities: @activities %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="pane">
      <h3>Quick links</h3>

      <% if current_user.taught_courses.any? %>
        <h4>Courses you're teaching</h4>

        <ul class="list-group">
          <% current_user.taught_courses.each do |course| %>
            <%= link_to course, class: 'list-group-item' do %>
              <%= course.name %>

              <% if course.ungraded_submissions.any? %>
                <span class="badge">
                  <%= course.ungraded_submissions.count %>
                </span>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <% if current_user.enrolled_courses.any? %>
        <h4>Courses you're enrolled in</h4>

        <ul class="list-group">
          <% current_user.enrolled_courses.each do |course| %>
            <%= link_to course.name, course, class: 'list-group-item' %>
          <% end %>
        </ul>
      <% end %>

      <%= link_to enroll_courses_path, class: 'btn btn-primary' do %>
        <%= fa_icon 'plus fw' %>
        Enroll in a course
      <% end %>
    </div>
  </div>
</div>
