<div class="assignment-summary row">
  <div class="col-md-1">
    <%= fa_icon 'code 3x', class: 'assignment-icon' %>
  </div>

  <div class="col-md-11">
    <h4>
      <%= link_to assignment do %>
        <%= assignment.name %>

        <% if policy(assignment).list_submissions? && assignment.ungraded_submissions.any? %>
          <span class="badge">
            <%= assignment.ungraded_submissions.count %>
          </span>
        <% end %>

        <% current_user.submission_for_assignment(assignment).tap do |submission| %>
          <% if submission %>
            <% if submission.grade %>
              <span class="badge">
                Grade: <%= submission.grade %> / <%= assignment.point_value %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <small>
        <% if assignment.open? %>
          Due in <%= time_ago_in_words(assignment.due_time) %>
        <% end %>
      </small>
    </h4>
    <p><%= summarize(assignment.description) %></p>
  </div>
</div>
