<div class="assignment-header">
  <div class="row">
    <div class="col-md-9">
      <h1>
        <%= fa_icon 'code fw', class: 'assignment-icon' %>
        <%= @assignment.name %>
        <%= assignment_open_label(@assignment) %>
      </h1>

      <h3 class="indented-by-icon subheader">
        For <%= link_to @assignment.course.name, @assignment.course %>
      </h3>

      <%= markdown(@assignment.description) %>
    </div>

    <div class="col-md-3">
      <% if policy(@assignment).update? && policy(@assignment).destroy? %>
        <%= render 'admin_assignment_button' %>
      <% end %>

      <% if policy(@assignment).list_submissions? &&
          policy(@assignment).plagiarism? %>
        <%= render 'details_assignment_button' %>
      <% end %>

      <% if @user_submission %>
        <%= render 'show_existing_submission' %>
      <% elsif policy(@assignment).submit_submissions? %>
        <%= render 'create_assignment_button' %>
      <% end %>
    </div>
  </div>
</div>
