<div class="assignment-summary row">
  <div class="col-md-1">
    <%= fa_icon 'code 3x', class: 'assignment-icon' %>
  </div>

  <div class="col-md-11">
    <h4>
      <%= link_to assignment do %>
        <%= assignment.name %>

        <% if policy(assignment).list_submissions? && assignment.ungraded_submissions.any? %>
          <span class="badge">
            <%= assignment.ungraded_submissions.count %>
          </span>
        <% end %>
      <% end %>
      <small>
        <% if assignment.open? %>
          Due in <%= time_ago_in_words(assignment.due_time) %>
        <% end %>
      </small>
    </h4>
    <p><%= assignment.short_description %></p>
  </div>
</div>
