<% provide(:title, "Edit Assignment") %>
<h1>Edit Assignment</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@assignment) do |f| %>
      <%= render 'shared/assignment_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :point_value %>
      <%= f.text_field :point_value %>

      <%= f.label :due_time %>
      <%= f.text_field :due_time, class: "datepicker", value: format_date(@assignment.due_time) %>

      <%= f.submit "Submit Changes", class: "btn btn-large" %>
    <% end %>
  </div>
</div>
