<% provide(:title, @assignment.name) %>
<h1>
  <%= @assignment.name %>
  <% if @assignment.course.teacher == current_user %>
    <small><%= link_to "Edit", edit_assignment_path(@assignment) %>
      &mdash;
    <%= link_to "Delete", @assignment, method: :delete %></small>
  <% end %>
</h1>
<h3>For course: <%= link_to @assignment.course.name, @assignment.course %></h3>
<h5><%= render 'time_left' %></h5>
<div class="pagination-centered">
  <% if current_user?(@assignment.course.teacher) %>
    <%= link_with_icon('gear', "View submissions for this assignment", 
      assignment_submissions_path(@assignment), class: "btn btn-success") %>
  <% elsif @assignment.course.students.include?(current_user) %>
    <% if @user_submission %>
      <%= link_with_icon('pencil', "See your submission for this assignment", 
        submission_path(@user_submission), class: "btn") %>
    <% else %>
      <% if @assignment.open? %>
        <%= link_with_icon('pencil', "Turn in a submission for this assignment",
          new_assignment_submission_path(@assignment), class: "btn btn-primary") %>
      <% else %>
        <i>This assignment is now closed and thus cannot be submitted to.</i>
      <% end %>
    <% end %>
  <% end %>
</div>
<hr>
<p><%= @assignment.description %></p>
