<% provide(:title, @user.name) %>
<div class="row pagination-centered well user-info">
  <%= gravatar_for @user, class: "img-circle img-polaroid" %>
  <h1 id="username"><%= @user.name %></h1>
  <%= render 'course_participation_info' %>
  <p><%= mail_to @user.email %></p>
</div>
<div class="row">
  <%= render 'user_course_list' %>
</div>
