<div class="submission-header">
  <% if policy(@submission).update? %>
    <%= render 'resubmit_submission_button' %>
  <% end %>

  <% if policy(@submission).destroy? %>
    <%= render 'destroy_submission_button' %>
  <% end %>

  <h1>
    <% if policy(@submission.assignment).list_submissions? %>
      <%= render 'back_to_list_submissions' %>
    <% end %>

    <%= fa_icon 'file-o fw', class: 'submission-icon' %>
    Submission

    <small>
      By <%= link_to @submission.author.name, @submission.author %>

      <%= status_label(@submission) %>
    </small>

    <small id="submission-aside">
      <%= render 'submission_grade' %> &mdash; <%= render 'submission_attempts' %>
    </small>
  </h1>
</div>
