<div class="row" id="submission-outputs">
  <% unless @submission.status.not_tested? %>
    <div class="col-md-6">
      <div class="pane">
        <h3>Expected Output</h3>
        <%= content_tag(:pre, @submission.assignment.expected_output,
            class: 'expected-output') %>
      </div>
    </div>
  <% end %>

  <%= actual_output_col(@submission) do %>
    <div class="pane">
      <h3><%= @submission.status.actual_output_message %></h3>
      <%= content_tag(:pre, @submission.output, class: 'output') %>
    </div>
  <% end %>
</div>

<% if @submission.status.incorrect? %>
  <div class="pane diff-expected-actual-output">
    <h3>Difference between expected and actual output</h3>

    <%= diff_between(@submission.output, @submission.assignment.expected_output) %>
  </div>
<% end %>
