<% provide(:title, "Retry Submission") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Retry Submission</h1>
    <%= render 'shared/submission_error_messages' %>

    <%= form_for(@submission) do |f| %>
      <div id="source_files">
        <%= f.fields_for :source_files do |b| %>
          <%= render 'source_file_fields', f: b %>
        <% end %>

        <%= link_to_add_association(f, :source_files, class: 'btn btn-default') do %>
          <%= fa_icon 'plus' %>
          Add a source file
        <% end %>
      </div>

      <%= submit_btn "Resumbit Submission", class: "btn btn-primary submit-sub-btn" %>
    <% end %>
  </div>
</div>
