<% provide(:title, "Submissions for #{@assignment.name}") %>

<div class="pane">
  <h1>Submissions for <%= link_to @assignment.name, @assignment %></h1>

  <% if @submissions.any? %>
    <table class="table table-bordered list-users-table">
      <tr>
        <th></th>
        <th>Student <%= sort_links('author', 'alpha') %></th>
        <th>Grade <%= sort_links('grade', 'numeric') %></th>
        <th>Status <%= sort_links('status', 'amount') %></th>
      </tr>
      <% @submissions.each do |submission| %>
        <%= content_tag(:tr, class: submission.status.css_class) do %>
          <td><%= profile_picture(submission.author) %></td>
          <td><%= link_to submission.author.name, submission %></td>
          <td>
            <% if submission.grade %>
              <%= submission.grade %> / <%= @assignment.point_value %>

              <% if submission.has_outdated_grade? %>
                <%= fa_icon 'clock-o fw', class: 'grade-outdated',
                    title: "This submission's grade may be outdated." %>
              <% end %>
            <% else %>
              <i>Ungraded</i>
            <% end %>
          </td>
          <td><%= submission.status.text_message if submission.status %></td>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <i>There are no submissions for this assignment.</i>
  <% end %>
</div>
