<% provide(:title, "Create a new Submission") %>

<h1>Create a Submission</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for([@assignment, @submission]) do |f| %>
      <%= render 'shared/submission_error_messages' %>

      <%= f.hidden_field :author_id, value: current_user.id %>

      <%= f.label :source_code %>
      <%= f.file_field :source_code %>

      <%= f.submit "Create Submission", class: "btn btn-large" %>
    <% end %>
  </div>
</div>
