<% provide(:title, "Create a new Submission") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 pane">
    <h1>Create a Submission</h1>
    <%= form_for([@assignment, @submission],
        html: { :multipart => true, role: :form }) do |f| %>
      <%= render 'shared/submission_error_messages' %>

      <%= f.hidden_field :assignment_id, value: @assignment.id %>
      <%= f.hidden_field :author_id, value: current_user.id %>

      <div id="source_files">
        <%= f.fields_for :source_files do |b| %>
          <%= render 'source_file_fields', f: b %>
        <% end %>
        <%= link_to_add_association(f, :source_files, class: 'btn btn-default') do %>
          <%= fa_icon 'plus' %>
          Add a source file
        <% end %>
      </div>

      <%= submit_btn "Create Submission", class: "btn btn-primary submit-sub-btn" %>
    <% end %>
  </div>
</div>
