<% provide(:title, "Submission by #{@submission.author.name}") %>

<div class="pane">
  <%= render 'submission_header' %>
  <%= render 'source_files' %>
</div>

<%= render 'output' %>
<%= render 'grade_submission_form' %>


<%= render 'comments' %>
