<% provide(:title, "Edit Course") %>
<h1>Edit Course</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>
      <%= render 'shared/course_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <div class="row-fluid">
        <%= f.label :language %>
        <%= f.select :language, Language.select_options %>
      </div>

      <%= f.submit "Submit changes", class: "btn btn-large" %>
    <% end %>
  </div>
</div>
