<% provide(:title, "Create new course") %>
<h1>Create a new Course</h1>
<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/course_error_messages' %>
    
    <%= form_for(@course) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit "Create Course", class: "btn btn-large" %>
    <% end %>
  </div>
</div>
