<% provide(:title, "Create new course") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a new Course</h1>

    <%= form_for(@course, html: { role: :form }) do |f| %>
      <%= render 'shared/course_error_messages' %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :language %>
        <%= f.select :language, Language.select_options, {}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :enroll_key %>
        <%= f.text_field :enroll_key, class: 'form-control code-field' %>
      </div>


      <%= submit_btn "Create Course", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
