<%= provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h3>Taught by <%= link_to @course.teacher.name, @course.teacher %></h3>

<% if signed_in? && !@course.students.exists?(current_user) %>
  <div class="pagination-centered">
    <%= button_to 'Enroll in this Course', enroll_course_path(@course), method: :post, class: 'btn btn-enroll' %>
  </div>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Assignments</a></li>
    <li><a href="#tab2" data-toggle="tab">Students</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><i>Nothing here yet...</i></p>
    </div>
    <div class="tab-pane" id="tab2">
      <table class="table table-striped table-bordered list-users-table">
        <tr>
          <th></th>
          <th>Name</th>
        </tr>
        <%= render @course.students %>
      </table>
    </div>
  </div>
</div>
