<% if current_user == activity.trackable.user ||
    current_user == activity.trackable.submission.assignment.course.teacher %>
  <%= fa_icon 'comments-o 3x fw', class: 'pull-left icon-fixed-width' %>
  <div class="header">
    <%= link_to activity.owner.name, activity.owner %>
    added a comment to
    <%= link_to "#{activity.trackable.submission.author == current_user ? "your" : "a"} submission",
      activity.trackable.submission %>
    for
    <%= link_to activity.trackable.submission.assignment.name, activity.trackable.submission.assignment %>
  </div>
  <div class="details">
    <%= activity.trackable.content %>
  </div>

  <hr />
<% end %>
