<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Grader</a>
        <div class="pull-right">
          <ul class="nav">
            <li><a href="#">Sign in</a></li>
          </ul>
        </div>
      </div>
    </div>  
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
